/* :root{

} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* navbar */

header {
    color: white;
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    z-index: 10;
}

.logo-text a{
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 5rem;
}

.burger {
    margin-right: 5rem;
    cursor: pointer;
    z-index: 2;
}

.line1,
.line2 {
    z-index: 1;
    height: 5px;
    width: 3rem;
    margin: .5rem;
    background-color: white;
    pointer-events: none;
}

/* title section */

.title {
    width: 100vw;
    height: calc(((984/1920)*100vw) -(0.6rem));
    display: flex;
    flex-flow: column;
    position: relative;
}

.back,
.front,
.title-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex: 1 0 auto;
    z-index: -1;
}

.title-text {
    width: 100%;
    font-size: clamp(3rem, 15vw, 15rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Oswald', cursive;
}

.title-text h1 {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.title img {
    width: 100%;
}

/* footer section */

footer{
    height: 8rem;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* display navbar section */

.nav-bar{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
}

.nav-links, .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links{
    padding-left: 13%;
}

.nav-links div{
    padding: 4% 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.nav-links div a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.info h2{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.info p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

}

.cursor{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition:all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 75% 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor.nav-active{
    transform: scale(3);
    background-color: cornflowerblue;
}

.cursor-text{
    font-size: 0.5rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}