/* :root{

} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
}

body{
    background-color: #0F1012;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* navbar */


/* title section */

.title-text {
    font-size: clamp(3rem, 18vw, 18rem);

}


/* tourist-spot section*/

.tourist-spot, .location-view{
    height: 100vh;
    background-color: #0F1012;
    padding: 2% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3.5rem;
    /* padding: 2% 0%; */
}

.photos{
    /* height: 60vh; */
    width: 90%;
    margin: auto;
    align-self: center;
    display: grid;
    padding-bottom: 1rem;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(10,1fr);
}

.img1, .img3, .img5 {
    grid-row: 1/10;
}

.img2, .img4{
    grid-row: 2/-1;
}

.img1{
    
    grid-column:1/6 ;
}
.img2{
  
    grid-column:5/10 ;
}
.img3{
   
    grid-column:9/14 ;
}
.img4{
 
    grid-column:13/18 ;
}
.img5{

    grid-column: 17/-1;
}


.spots{
    width: 100%;
}

.spots img{
    width: 100%;
}

.explore-btn{
    padding:1% 3%;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0px;
    align-self: end;
    cursor: pointer;
}

.explore-btn a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    pointer-events: none;
}

/* location view */

.location-view h2{
    padding-top: 1rem;
}

.views{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(7,1fr);
    width: 90%;
    margin: auto;
}

.view img{
    width: 100%;
}

.pic1{
    grid-column: 3/6;
    grid-row: 5/-1;
    z-index: 1;
}

.pic2{
    grid-column: 5/8;
    grid-row: 1/-1;
}

.pic3{
    grid-column: 7/10;
    grid-row: 2/-1;
}

/* hotels section */

.hotels{
    background-color: #0F1012;
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels h2{
    padding: 0;
}

.hotel-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1% 0%;
}

.hotel-card{
    margin: 2%;
}

.hotel-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.card-text{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 2% 0%;
}

.card-text :nth-child(1){
    font-weight: 700;
}

.img img{
    width: 100%;
    border-radius: 10px;
}

footer{
    background-color: #1c2027;
}

.hotel-btn{
    align-self: center;
    padding: 1% 5%;
}

/* cursor */

.exp-active{
    transform: scale(3);
    background-color: white;
}
