/* :root{

} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
}

body{
    background-color: #120905;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

.title{
    height: calc(((1112/1920)*100vw) -(1rem));
}


/* spots section */

.slide{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0% 7%;
    background-color: #120905;
    color: #fff;
}

.img{
    width: 55%;
    position: relative;
    overflow: hidden;
}

.img img{
    width: 100%;
}

.textarea{
    width: 45%;
position: relative;
    padding-left: 7%;
}

.name h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 7rem;
    padding-bottom: 7%;
}

.textarea p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.reveal-img, .reveal-txt{
    background-color: #120905;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer{
    background-color: #23130B;
}

@media screen and (max-width: 980px) {

    .slide{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img, .textarea {
        width: 90%;
        padding: 0%;
    }

    .textarea h2 {
        font-size: 5rem;
    }
}