/* :root{

} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

.title{
    height: calc(((1018.76/1920)*100vw) -(0.6rem));
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A1416;
}

.mission, .team, .offer{
    width: 55vw;
    display: flex;
    padding: 7% 0%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3rem;
}

p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
}