/* :root{

} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* middle section  */

.title-text h1 {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.views{
    width: 100vw;
    background-color: #0D0E09;
}

h2{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 4rem;
    text-align: center;
    padding: 4% 4%;
}

.grid-container{
    column-count: 3;
    column-width: 300px;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0% 10% 7%;
}

.grid-container img:hover {
        transform: scale(1.02);
        transition: 0.2s ease-in-out;
}

.grid-items{
    width: 100%;
    margin-bottom: 1.5rem;
}

footer{
    background-color: #191B11;
}

@media screen and (max-width: 1080px) {
    
    h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 780px) {
    
    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    
    h2 {
        font-size: 2rem;
    }
}