/* :root{

} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font family */
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

#intro{
    height: 100vh;
    background-color: #0C0503;
    padding: 3% 7%;
    display: grid;
    place-items: center;
}

.hotel-intro{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.intro-text{
    background-color: #2B1008;
    color: white;
    grid-column: 1/4;
    z-index: 2;
    align-self: center ;
    border-radius: 2px;
}

.intro-img, .intro-text{
    grid-row: 1/2;
}

.intro-text h2{
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    padding: 1rem;
}

.intro-text div{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}

.intro-img{
    grid-column: 3/-1;
}

.intro-img img{
    width: 100%;
}

#search{
    background-color: #0C0503;
    /* padding: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt, .search-btn{
    border: 1px solid white;
    border-radius: 20px;
    padding: 1% 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 0% 1%;
}

.search-txt{
    background-color: #0C0503;
    color: white;
}

.search-btn{
    padding: 1% 1%;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* hotel cards */

.hotels{
    background-color: #0C0503;
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels h2{
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 3% 0%;
}

.hotel-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hotel-card{
    margin: 2%;
}

.hotel-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.card-text{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 2% 0%;
}

.card-text :nth-child(1){
    font-weight: 700;
}

.img img{
    width: 100%;
    border-radius: 10px;
}

footer{
    background-color: #1c2027;
}

.hotel-btn{
    align-self: center;
    padding: 1% 5%;
}

footer{
    background-color: #180A06;
}
